@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<p> The current settings are <h3>Mode : @Model.Mode </h3> and Development is : <h3> @Model.Development </h3> </p>